<?xml version="1.0"?>
<config>
    <modules>
        <Liip_ConfigSearch>
            <version>1.0.0.0</version>
        </Liip_ConfigSearch>
    </modules>
    <global>
        <models>
            <liip_configsearch>
                <class>Liip_ConfigSearch_Model</class>
                <resourceModel>liip_configsearch_resource</resourceModel>
            </liip_configsearch>
        </models>
        <helpers>
            <liip_configsearch>
                <class>Liip_ConfigSearch_Helper</class>
            </liip_configsearch>
        </helpers>
        <blocks>
            <liip_configsearch>
                <class>Liip_ConfigSearch_Block</class>
            </liip_configsearch>
        </blocks>
    </global>
    <adminhtml>
        <global_search>
            <config>
                <class>liip_configsearch/search</class>
            </config>
        </global_search>
        <layout>
            <updates>
                <liip_configsearch>
                    <file>liip/config.xml</file>
                </liip_configsearch>
            </updates>
        </layout>
    </adminhtml>
</config>
